@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root{
    --space-mono:  'Space Mono', monoespacio;
}

.txt--s{
    font-family: var(--space-mono);
    font-size: 0.8rem;
}

.txt--m{
    font-family: var(--space-mono);
    font-size: 1rem;
}

.txt--l{
    font-family: var(--space-mono);
    font-size: 1.2rem;
}

.txt--xl{
    font-family: var(--space-mono);
    font-size: 2.9rem;
}


.txt--regular{
    font-weight: 400;
}

.txt--bold{
    font-weight: 700;
}

.txt--upper{
    text-transform: uppercase;
}

.txt--center{
    text-align: center;
}

.line-height--s{
    line-height: 1.5rem;
}

.line-height--m{
    line-height: 4rem;
}
